
    body {
        font-family: 'Poppins', sans-serif;
       color: #737789;
       font-size: 18px;
       line-height: 36px;
       font-weight: 400;
       background: url("../img/TEAM/tbg.jpg");
       background-size: cover;
       background-repeat:no-repeat;
       background-attachment:fixed;
       background-position:center center; 
      
   
   }
   
          .title{
              margin-top: -50px;
              margin-bottom: 90px;
          }
   
          .title h3{
              font-size: 35px;
          }
   
   
   
   .team-one {
       padding-top: 120px;
       padding-bottom: 90px;
       position: relative;
   }
   
   [class*=bg-shape-] {
       position: absolute;
   }
   
    .shape {
       top: 35px;
       left: 0;
   }
   
   .team-one .container {
       position: relative;
   }
   
   .single {
       margin-bottom: 30px;
       border-radius: 5px;
       box-shadow: 0px 10px 60px 0px rgba(46, 61, 98, 0.1);
       text-align: center;
       position: relative;
       padding-bottom: 60px;
       padding-top: 57px;
       transform: scaleY(1);
       transform-origin: top;
       transition: transform 500ms ease;
       background: rgba(255,255,255,0.05);
       backdrop-filter: blur(10px);
       border-top: 1px solid rgba(255,255,255,0.2);
       border-left: 1px solid rgba(255,255,255,0.2);
       box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
   
   }
   .single:hover {
        transform: scaleY(1);
   }
   
   .inner {
        transform-origin: top;
        transition: transform 500ms ease;
        transform: scaleY(1);
   }
   
   
   
   .image {
   border-color: red;
   }
   
   
   .single:hover  {
       border: 5px solid white;
   }
   
   .single h3 {
       margin: 0;
       font-size: 25px;
       font-weight: bold;
       color: #252c4b;
       line-height: 1em;
       transition: all 500ms ease;
   }
   
   .single p {
       color: #737789;
       margin: 0;
       line-height: 1em;
       font-size: 14px;
       margin-top: 12px;
       margin-bottom: 44px;
       transition: all 500ms ease;
   
   }
   
   .single:hover p,
   .single:hover h3 {
       color: #fff;
   }
   
   
   .circle::before {
       position: absolute;
       top: 0;
       right: 0;
       width: 153px;
       height: 117px;
       content: '';
       background-image: url(team-circle-1-1.png);
       transform: perspective(200px) scaleX(0) scaleY(0);
      transition: transform 500ms ease, opacity 500ms ease;
       opacity: 0;
       transform-origin: right top;
   }
   
   .circle::after {
       position: absolute;
       bottom: 0;
       left: 0;
       width: 140px;
       height: 156px;
       content: '';
       background-image: url(team-circle-1-2.png);
        transform: perspective(150px) scaleX(0) scaleY(0);
        transition: transform 500ms ease, opacity 500ms ease;
       opacity: 0;
      transform-origin: left bottom;
   }
   
   .single:hover .circle::before,
   .single:hover .circle::after {
       opacity: 0.3;
        transform: perspective(200px) scaleX(1) scaleY(.8);
   }
   
   
   .single::before {
       content: '';
       border-radius: 5px;
       background-image: linear-gradient(90deg, rgb(44, 171, 255)  0%, #000000 100%);
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
      transform: scale(1, 0);
      transform-origin: bottom;
       transition: transform 500ms ease;
   
   }
   
   .single:hover::before {
   
               transform: scale(1, 1);
               transform-origin: top;
   }
   
          .inner{
              position: relative;
          }
   
          a:hover{
              text-decoration: none;
          }
          .vid
   {
       position:absolute;
       right:0;
       bottom:0;
       width:auto;
       height:auto;
       z-index:-1;
       min-width:100%;
       min-height:100%;
       border-bottom-style: solid !important;
   border-color:#3232FF;
   border-width:2px;
   }
   