
*{
	margin:0%;
	padding:0%;
	font-family: 'Rubik', sans-serif;
	 box-sizing: border-box;
}
body{

	background-image:url(/THEMIS/Images/Corruption/299241ca-c65f-4d97-b52a-d30a61385fd0@2x.png);
	background-size:cover; 
	background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center center;
  
  }


.btn
{

font-family: 'Rubik', sans-serif;
font-weight:bold;
}
.btn:hover
{
	background:white;
	color:black !important;
	box-shadow:0 0 5px #FFFFFF,0 0 20px#FFFFFF ;
}footer{

    width: 100%;
    background: #202020;
    color: white; 
		background-color:	rgba(0,0,0,.8) !important;
	
    
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;

}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
border-bottom-style: solid;

}

.colum1 p{
    font-size: 18px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 22px;
	border-bottom-style: solid;

}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{
    max-width: 400px;
	
}

.colum3 h1{
    font-size: 22px;
	border-bottom-style: solid;

}

.row2{
    margin-top: 20px;
    display: flex;
	
}

#links
{
color:white ;	

}
#links:hover{
color:grey;
}

.container-footer{
    width: 100%;  
    background: #101010;

}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
		
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}
#cont p{
	font-size:18px;
	text-shadow:0 0 5px #FFFFFF!important ;
}
#cont h2
{
text-shadow:0 0 5px #FFFFFF,0 0 1px#FFFFFF !important ;


}
#cont{
		background-color:	rgba(0,0,0,.8) !important;
		border-radius:	20px;
		padding-bottom:80px !important;
}
#cont:hover{
	box-shadow:8px 8px 15px rgba(0,0,0,.6) ;
	transition:.2s;
}